.PopupPanelWithTransparentContent {
	border: none;
	background-color: transparent;
}

.bold {
	font-weight: bold;
}

.big {
	font-size: 16px;
	font-weight: bold;
}

.clickable {
	cursor: pointer;
}

.gwt-TreeItem-selected {
	font-weight: bold;
}

.dropTarget {
	background-color: #FFFF66;
}

.whiteBoard {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding: 5px;
}

.navigation {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding: 5px;
}

.sidebar {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding: 5px;
}