
.PopupPanelWithTransparentContent {
        border: none;
        background-color: transparent;
}

.bold {
	font-weight: bold;
}

.big {
	font-size: 16px;
	font-weight: bold;
}

.clickable {
	cursor: pointer;	
}

.gwt-TreeItem-selected {
	font-weight: bold;
}

.dropTarget {
	background-color:#FFFF66;
}