/* Farbe: 
 B4C8F0  
 A0B4F0
*/
.PopupPanelWithTransparentContent {
	border: none;
	background-color: transparent;
}

.statusPanel {
	border-radius: 10px;
	background-color: #B4C8F0;
	font-weight: bold;
	color: black;
	opacity: 0.9;
}

.bold {
	font-weight: bold;
}

.big {
	font-size: 16px;
	font-weight: bold;
}

.white {
	color: white;
}

.clickable {
	cursor: pointer;
}

.gwt-TreeItem-selected {
	font-weight: bold;
}

.dropTarget {
	background-color: #FFFF66;
}

.whiteBoard {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding: 5px;
}

.navigation {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding: 5px;
}

.sidebar {
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	padding: 5px;
}

.navigationItem {
	background-color: transparent;
}

.markedNavigationItem {
	background-color: #C8DCFA;
	border-radius: 10px;
}

.top {
	z-index: 100;
}

.actionBar {
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	font-weight: bold;
	color: black;
}

.note {
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: gray;
	/* background-color: #F3F781; */
	box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	opacity: 0.8;
}

.activeNote {
	opacity: 1.0;
}

.noteHeader {
	font-weight: bold;
	color: black;
	border-bottom: 1px solid gray;
}

.resizePanel {
	background-image: url(images/resize.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

/*  Anpassung Drag-And-Drop */
.dragdrop-positioner {
	border: none;
	margin: 0px !important;
	zoom: 1; /* IE gain hasLayout */
	z-index: 100;
}

.noteEditor {
	border: none;	
}

.editorControlPanel {
	border-radius: 10px;
	background-color: white;
}

.sizeExtender {
	background-color: #C8DCFA;
	border-radius: 10px;
}