<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- Servlets -->
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>de.htwk.openNoteKeeper.server.UserServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/openNoteKeeper/user</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>noteServlet</servlet-name>
		<servlet-class>de.htwk.openNoteKeeper.server.NoteServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>noteServlet</servlet-name>
		<url-pattern>/openNoteKeeper/note</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>OpenNoteKeeper.html</welcome-file>
	</welcome-file-list>

</web-app>
